<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608368563600-bthojqr7qmtmnlpbf0alp9rj65qhb4r2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608368563600-bthojqr7qmtmnlpbf0alp9rj65qhb4r2</string>
	<key>API_KEY</key>
	<string>AIzaSyDqIQwAj8NbTRRQJH_qq-x46gs7mOnZj5s</string>
	<key>GCM_SENDER_ID</key>
	<string>608368563600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hayabusa.example.homageInsta</string>
	<key>PROJECT_ID</key>
	<string>homageinsta-be80a</string>
	<key>STORAGE_BUCKET</key>
	<string>homageinsta-be80a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608368563600:ios:fd56d07b09a463bb710f15</string>
</dict>
</plist>